/* Global.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #343a40);
    color: #ffffff;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  